<h2>プロフィール</h2>
	<p>名前</p>
  <%= @user.username%>

	<p>紹介文</p>
  <%= @user.profile%>

   <% if @user.profile_image.present? %>
  <%= image_tag @user.profile_image.url, alt: "Profile image" %>
<% else %>
  <%= image_tag "/images/default-profile-image.png", alt: "Default profile image" %>
<% end %>
