<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= form_tag room_post_path, :method => :get do %>
	<p>
	 <%= text_field_tag :search, params[:search] %>
	 <%= submit_tag "Search", name: nil %>
 </p>
<% end %>

