/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

html {
    box-sizing: border-box;
    display: block;
    height: 100%;
}

header {
    box-sizing: border-box;
    display: block;
    position: fixed; /* ヘッダーを固定する */
    top: 0; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    width: 100%; /* ヘッダーの横幅を指定する */
    height: 90px; /* ヘッダーの高さを指定する */
    padding: 10px; /* ヘッダー内側の余白を指定する(上下左右) */
    background-color: #000080; /* ヘッダーの背景色を指定する */
    color: #000000; /* ヘッダーのフォントの色を指定する */
    display: flex;
    justify-content: space-between;
}

body{
    margin: 20px; /* bodyの外側の余白を指定する */
    margin-top: 90px;
    overflow: auto;
    height: 100%;
    }

    .nav-contents {
        display: flex;
        justify-content: right;
    }