/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
 }

 header {
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;

}

.header-logo {
    margin:10px 0 0 30px;
    float:left;
}

.profile-image {
    float: right;
    border-radius: 50%;

}

.dropdown {
    float: right;
    border-radius: 50%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}


 body {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

 }